{% extends 'base.html' %}
{% block title %}Статьи{% endblock %}
{% block menu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'article_add' %}">Создать статью</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Статьи</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for article in articles %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.author }}</p>
                        <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}