{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<img src="{% static my_img %}" alt="">
<h1>Articles</h1>
<a href="/create/">Create Article</a>

{% for article in articles %}
    <div>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <p>Author:  {{ article.author }}</p>
    </div>
    {% empty %}
    <h4>Not articles</h4>
{% endfor %}
</body>
</html>